<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>NL Demo</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'polls/image/logo.png' %}">
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="{% static 'polls/css/style_particles.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'polls/css/style.css' %}">
</head>
<body style="position: relative">
{% load crispy_forms_tags %}
<!-- particles.js container -->
    <div id="particles-js" class="particles-js" style="position: absolute; left: 0; width: 100%; height: 100%" aria-hidden="true">
        <div class="brand-container" style="position: absolute; left: 0; width: 50%; height: 100%;">
            <img src="{% static 'polls/image/logo.png' %}" alt="Your Image" class="centered-image">
        </div>
    <div class="content-container" style="position: absolute; left: 50%; width: 50%; height: 100%; background: white">
        <div class="content-section" style="width: 50%; margin: 0 auto; font-size: 16px">
            <form method="POST" style="margin-top: 100px">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><H1 style="font-weight: bolder; font-size: 24px;">DEMO API</H1></legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                    {% if is_lock %}
                        Mở
                    {% else %}
                        Khóa
                    {% endif %}
                    Hội Nghị
                    </button>
                </div>
            </form>
            {% if is_lock != None %}
                {% if is_lock %}
                    <H1>Đang Khóa</H1>
                {% else %}
                    <H1>Đang Mở</H1>
                {% endif %}
            {% endif %}
        </div>

    </div>


    <!-- scripts -->
    <script src="{% static 'polls/js/particles.min.js' %}"></script>
    <script src="{% static 'polls/js/app.js' %}"></script>
    <!-- stats.js -->
    {#<script src="{% static 'polls/js/lib/stats.js' %}"></script>#}
    {#<script>#}
    {#  var count_particles, stats, update;#}
    {#  stats = new Stats;#}
    {#  stats.setMode(0);#}
    {#  stats.domElement.style.position = 'absolute';#}
    {#  stats.domElement.style.left = '0px';#}
    {#  stats.domElement.style.top = '0px';#}
    {#  document.body.appendChild(stats.domElement);#}
    {#  count_particles = document.querySelector('.js-count-particles');#}
    {#  update = function() {#}
    {#    stats.begin();#}
    {#    stats.end();#}
    {#    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {#}
    {#      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;#}
    {#    }#}
    {#    requestAnimationFrame(update);#}
    {#  };#}
    {#  requestAnimationFrame(update);#}
    {#</script>#}

</body>
</html>